<!DOCTYPE html>
<html>
<head lang="ru">
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	<meta http-equiv="content-language" content="ru" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="nia" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<title>Service - {% block title %}{% endblock %}</title>



	
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/vendor/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

	<link href="/static/vendor/font-awesome/css/font-awesome.min.css?version={{ VERSION }}" rel="stylesheet">
	
	<link href="/static/css/style.css" rel="stylesheet" media="screen">
	
	<!--
	<link href="/static/vendor/angular-material/angular-material.min.css?version={{ VERSION }}" rel="stylesheet" media="screen">
	-->

	{% block ext_inc_head %}{% endblock %}


</head>

<body style="margin-top: 60px;">

  	<div class="navbar navbar-default navbar-fixed-top">
	  	<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/service">GSongs - service <small>v {{ VERSION }}</small></a>
			</div>

			<div class="navbar-collapse collapse">

				<ul class="nav navbar-nav">

						<li><a href="/" title="Главная">
								<strong> Главная</strong>
						</a></li>

				</ul>


				<ul class="nav navbar-nav navbar-right">


					<li class="menu_service_db">
						<a href="/service/db" title="DB tools">
							<strong><i class="fa fa-database" aria-hidden="true"></i> DB</strong>
						</a>
					</li>

					<li class="menu_service_todo">
						<a href="/service/todo" title="ToDo">
							<strong><i class="fa fa-plus" aria-hidden="true"></i> ToDo</strong>
						</a>
					</li>

					<li class="menu_service_chords">
						<a href="/service/chords" title="Chords tools">
							<strong><i class="fa fa-music" aria-hidden="true"></i> Chords</strong>
						</a>
					</li>


				</ul>

			</div><!--/.navbar-collapse -->

		</div>
	</div>


	<div class="container">
		
    	{% block content %}{% endblock %}

	</div>



	<!-- vendors -->
	<script src="/static/vendor/jquery/jquery.min.js?version={{ VERSION }}"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js?version={{ VERSION }}"></script>
	<script src="/static/vendor/angular/angular.min.js?version={{ VERSION }}"></script>
	<!--
	<script src="/static/vendor/angular-animate/angular-animate.min.js?version={{ VERSION }}"></script>
	<script src="/static/vendor/angular-aria/angular-aria.min.js?version={{ VERSION }}"></script>
	<script src="/static/vendor/angular-messages/angular-messages.min.js?version={{ VERSION }}"></script>
	<script src="/static/vendor/angular-material/angular-material.min.js?version={{ VERSION }}"></script>
	-->

	{% block ext_inc_body %}{% endblock %}

	<!-- Your application bootstrap  -->
	<!--
	  <script type="text/javascript">    
	    /**
	     * You must include the dependency on 'ngMaterial' 
	     */
	    angular.module('BlankApp', ['ngMaterial']);
	  </script>
	-->


</body>
</html>