<h1>Список задач</h1>







<div class="panel panel-default" ng-repeat="item in self.items">
  	<div class="panel-heading">
    	<h3 class="panel-title">
    		[[ item.title ]]
    		<span class="pull-right">
    			<a href="javascript: void(0)" ng-click="self.edit(item)">edit</a>
				|
				<a href="javascript: void(0)" ng-click="self.remove(item)">remove</a>
    		</span>
    	</h3>
  	</div>
  	<div class="panel-body">
  		<div class="row">
  			<div class="col-md-8">
    			[[ item.description ]]
  			</div>
  			<div class="col-md-4">
  				<ul>
  					<li>[[ item.created ]]</li>
  					<li>[[ item.updated ]]</li>
  					<li>[[ item.status ]]</li>
  					<li>[[ item.priority ]]</li>
  				</ul>
  			</div>
  		</div>

  	
    	
  	</div>
</div>










<ul class="list-group">
	<li class="list-group-item" ng-repeat="item in self.items">[[ item.title ]]</li>
</ul>

<button class="btn btn-primary" ng-click="self.add()">add</button>
<button class="btn btn-primary" ng-click="self.refresh()">refresh</button>



















<div class="modal fade1" tabindex="-1" role="dialog" id="edit_modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Edit</h4>
			</div>

			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="item_title">Title</label>
						<input type="text" class="form-control" id="item_title" placeholder="title" ng-model="self.item_edit.title">
					</div>

					<div class="form-group">
						<label for="item_status">Status</label>
						<select class="form-control" id="item_status"
							ng-model="self.item_edit.status"
							ng-options="status.index as status.name for status in self.statuses"
						></select>

					</div>

					<div class="form-group">
						<label for="item_priority">Priority</label>
						<input type="text" class="form-control" id="item_priority" placeholder="priority" ng-model="self.item_edit.priority">
					</div>

					<div class="form-group">
						<label for="item_description">Description</label>
						<textarea class="form-control" id="item_description" placeholder="description" ng-model="self.item_edit.description"></textarea>
					</div>
				</form>

				
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="self.save()">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
