<h1 class="page-header">Исполнитель: <span>[[ data.singer.name ]]</span> <small>список песенок</small></h1>




<div class="row">
	<div class="col-md-6">
		<input type="text" class="form-control" ng-model="filter_name" placeholder="Быстрый поиск названию">
	</div>
	<div class="col-md-6">
		<a href="#/song_edit/0" class="btn btn-success">Добавить новую</a>
	</div>
</div>


<hr>

<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<!-- <th>Исполнитель</th> -->
			<th>Название</th>
			<th>Автор</th>
			<th>Альбом</th>
			<!-- <th>Текст</th> -->
			<th>Описание</th>
			<th>Жанр</th>
			<!-- <th>Метки</th> -->
			<!-- <th>Создание</th> -->
			<!-- <th>Обновление</th> -->
			<!-- <th>api</th> -->
			<!-- <th>options</th> -->
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="song in filtered()">
			<!-- <td>[[ data.singer.name ]]</td> -->
			<td><a href="#/song/[[ song.id ]]">[[ song.name ]]</a></td>
			<td>[[ song.author ]]</td>
			<td>[[ song.album ]]</td>
			<!-- <td>[[ song.text ]]</td> -->
			<td>[[ song.description ]]</td>
			<td>[[ song.genre ]]</td>
			<!-- <td>[[ song.tags ]]</td> -->
			<!-- <td>[[ song.created ]]</td> -->
			<!-- <td>[[ song.updated ]]</td> -->
			<!-- <td>[[ song.api ]]</td> -->
			<!--
			<td>
				<a href="#/song/[[ song.id ]]" title="" >&nbsp<i class="fa fa-folder-open-o"></i>&nbsp</a>
				|
				<a href="#/song_edit/[[ song.id ]]" title="" >&nbsp<i class="fa fa-pencil"></i>&nbsp</a>
				 |
				<a href="javascript: void(0)" title="" ng-click="remove_song(song)">&nbsp<i class="fa fa-trash-o"></i>&nbsp</a> 

			</td>
			-->
		</tr>
	</tbody>
</table>