<div class="page-header">
  	<h1 ng-if="song_id == 0">Создание новой записи</h1>
  	<h1 ng-if="song_id != 0">Изменение записи: <span>[[ data.song.name ]]</span></h1>
</div>



<div class="row">
	<div class="col-md-6">
		<form class="form-horizontal">
	
			<div class="form-group">
				<label for="inputSinger" class="col-sm-2 control-label">Исполнитель</label>
				<div class="col-sm-10">
					<!-- <select ng-model="data.song.singer" ng-options="singer.id as singer.name for singer in data.singers track by singer.id"></select> -->
					<select class="form-control" ng-model="data.song_edit.singer" ng-options="singer.id as singer.name  for singer in data.singers"></select>
					<!--
					<input type="text" class="form-control" id="inputSinger" placeholder="Исполнитель" ng-model="data.song.singer">
					-->
				</div>
			</div>


			<div class="form-group">
				<label for="inputName" class="col-sm-2 control-label">Название</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputName" placeholder="Название" ng-model="data.song_edit.name">
				</div>
			</div>


			
			<div class="form-group">
				<label for="inputAuthor" class="col-sm-2 control-label">Автор</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputAuthor" placeholder="Автор" ng-model="data.song_edit.author">
				</div>
			</div>



			<div class="form-group">
				<label for="inputAlbum" class="col-sm-2 control-label">Альбом</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputAlbum" placeholder="Альбом" ng-model="data.song_edit.album">
				</div>
			</div>


			<div class="form-group">
				<label for="inputGenre" class="col-sm-2 control-label">Жанр</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputGenre" placeholder="Жанр" ng-model="data.song_edit.genre">
				</div>
			</div>


			<div class="form-group">
				<label for="inputDescription" class="col-sm-2 control-label">Описание</label>
				<div class="col-sm-10">
					<textarea class="form-control" rows="3" id="inputDescription" placeholder="Описание" ng-model="data.song_edit.description"></textarea>
				</div>
			</div>

			

			<hr>
		  
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" ng-click="save()">Сохранить</button>
					
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<form class="form-horizontal">
	
			<div class="form-group">
					<textarea class="form-control" rows="25" id="inputText" placeholder="Текст" ng-model="data.song_edit.text"></textarea>
			</div>

		</form>
	</div>
</div>







