<!-- <nav class="navbar navbar-default">
  	<div class="container-fluid">
    	
    	<div class="navbar-header">
      		<span class="navbar-brand">
      			Исполнитель - [[ self.item.name ]]
      		</span>
    	</div>
 -->

		<!-- 
    	<ul class="nav navbar-nav">
    		<li>
    			<a href="#/singer/[[ data.song_current.singer ]]">
    				На страницу исполнителя
    			</a>
    		</li> 
    	</ul>
    	-->


		<!-- <form class="navbar-form navbar-left" role="search">
  			<div class="form-group">
    			<input type="text" class="form-control" placeholder="Быстрый поиск названию" ng-model="self.filter_name">
  			</div>
		</form> -->



    	<!-- <ul class="nav navbar-nav navbar-right">
	  		<li>
	  			<a href="#/singer_edit/[[ self.item.id ]]" title="изменить данные исполнителя">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Изменить
				</a>
			</li>
			<li>
				<a href="#/song_edit/0" title="перейти к созданию">
					<i class="fa fa-plus" aria-hidden="true"></i> Добавить песню
				</a>
			</li>
  		</ul> -->

<!--   	</div>
</nav>

 -->




<div class="page-header">
	<h3>Исполнитель - [[ self.item.name ]]</h3>
</div>



<div class="row">
	<div class="col-md-6">
		
		<dl class="dl-horizontal">
  			<dt>Название</dt>
  			<dd>[[ self.item.name ]]</dd>

  			<dt>Создание</dt>
  			<dd>[[ self.item.created ]]</dd>

  			<dt>Обновление</dt>
  			<dd>[[ self.item.updated ]]</dd>
		</dl>


		<button-back></button-back>

		<div class="pull-right">
			<button-remove ng-click="self.show_remove()"></button-remove>
			<lbutton-edit href="#/singer_edit/[[ self.item.id ]]"></lbutton-edit>
		</div>

	</div>
	<div class="col-md-6">


		<div class="row">
			<div class="col-md-6">
				<form>
		  			<div class="form-group">
		    			<input type="text" class="form-control" placeholder="Быстрый поиск названию" ng-model="self.filter_name">
		  			</div>
				</form>
		
			</div>
			<div class="col-md-6">
				<div class="pull-right">
					<lbutton-create href="#/song_edit/0"></lbutton-create>
				</div>
			</div>
		</div>
		

		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th><a href="javascript: void(0)" ng-click="self.sort('name')">Название</a></th>
					<!-- <th>Автор</th>
					<th>Альбом</th>
					<th>Описание</th>
					<th>Жанр</th> -->
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="song in self.filtered()">
					<td><a href="#/song/[[ song.id ]]" title="перейти к странице песни">[[ song.name ]]</a></td>
					<!-- <td>[[ song.author ]]</td>
					<td>[[ song.album ]]</td>
					<td>[[ song.description ]]</td>
					<td>[[ song.genre ]]</td> -->
				</tr>
			</tbody>
		</table>

		<!-- <div class="pull-right">
			<lbutton-create href="#/song_edit/0"></lbutton-create>
		</div> -->
		
	</div>
</div>








<modal-remove ng-if="self.is_modal_remove" on-close="self.is_modal_remove = false" on-remove="self.remove()">
	Удалить исполнителя?
</modal-remove>