<nav class="navbar navbar-default">
  	<div class="container-fluid">
    	
    	<div class="navbar-header">
      		<span class="navbar-brand">
      			<span ng-if="self.current.id == 0">Создание исполнителя</span>
      			<span ng-if="self.current.id != 0">Изменение исполнителя <strong>[[ self.current.name ]]</strong></span>
      			
      		</span>
    	</div>


		<!-- 
    	<ul class="nav navbar-nav">
    		<li>
    			<a href="#/singer/[[ data.song_current.singer ]]">
    				На страницу исполнителя
    			</a>
    		</li> 
    	</ul>
    	-->



    	<!-- <ul class="nav navbar-nav navbar-right">
	  		<li>
	  			<a href="javascript: void(0)" ng-click="show_edit()" title="изменить данные исполнителя">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Изменить
				</a>
			</li>
			<li>
				<a href="#/song_edit/0" title="перейти к созданию">
					<i class="fa fa-plus" aria-hidden="true"></i> Добавить песню
				</a>
			</li>
  		</ul> -->

  	</div>
</nav>




<div class="row">
	<div class="col-md-6">
		<form>
			<div class="form-group">
				<label for="singer_name">Название</label>
				<input type="text" class="form-control" id="singer_name" placeholder="Название" ng-model="self.item.name">
			</div>
		</form>

		<hr>

		<button-back></button-back>
		<div class="pull-right">
			<button-save ng-click="self.save()"></button-save>
		</div>
		
	</div>
	<div class="col-md-6">
<pre>
[[ self.item | json ]]
</pre>
	</div>
</div>