<nav class="navbar navbar-default">
  	<div class="container-fluid">
    	
    	<div class="navbar-header">
      		<!-- <a class="navbar-brand" href="#">
        		<img alt="Brand" src="...">
      		</a> -->
      		<span class="navbar-brand">
      			Список исполнителей
      		</span>


    	</div>


    	<form class="navbar-form navbar-left" role="search">
  			<div class="form-group">
    			<input type="text" class="form-control" placeholder="Быстрый поиск названию" ng-model="data.filter.search.singer">
  			</div>
		</form>

    	<ul class="nav navbar-nav navbar-right">
	  		<li>
	  			<a href="javascript: void(0)" ng-click="self.refresh()" title="обновить список">
					<i class="fa fa-refresh" aria-hidden="true"></i> Обновить
				</a>
			</li>
			<li>
				<!-- <a href="javascript: void(0)" ng-click="show_add_singer()" title="отобразить диалог добавления">
					<i class="fa fa-plus" aria-hidden="true"></i> Добавить
				</a> -->

				<a href="#/singer_edit/0" title="отобразить диалог добавления">
					<i class="fa fa-plus" aria-hidden="true"></i> Добавить
				</a>
			</li>
  		</ul>




  	</div>
</nav>




<chars select="self.select_char(char_value)"></chars>





<br>		


<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th>id</th>
			<th><a href="javascript: void(0)" ng-click="self.sort('name')">Исполнитель</a></th>
			<th><a href="javascript: void(0)" ng-click="self.sort('created')">Создание</a></th>
			<th><a href="javascript: void(0)" ng-click="self.sort('updated')">Обновление</a></th>
			<th>Опции</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="singer in self.singers_filtered()">
			<td>[[ singer.id ]]</td>
			<td>
				<a href="#/singer/[[ singer.id ]]" title="перейти на страницу исполнителя">
					[[ singer.name ]]
				</a>
			</td>
			<td>[[ singer.created | date:'yyyy-MM-dd' ]]</td>
			<td>[[ singer.updated ]]</td>
			<td>
				<!-- <a href="javascript: void(0)" ng-click="show_edit_singer(singer)" title="изменить запись">
					<i class="fa fa-pencil"></i> изменить
				</a> -->
				<a href="#/singer_edit/[[ singer.id ]]" title="изменить запись">
					<i class="fa fa-pencil"></i> изменить
				</a>
				<!-- |
				<a href="javascript: void(0)" ng-click="show_remove_singer(singer)" title="отобразить запрос удаления">
					<i class="fa fa-trash-o"></i> удалить
				</a> -->
			</td>
		</tr>
	</tbody>
</table>

	







