<h1 class="page-header">
	Список исполнителей
	<small>[[ data.singers.length ]]</small>
</h1>


<chars select="select_char(char_value)"></chars>

<br>

<div class="row">
	<div class="col-md-6">
		<input type="text" class="form-control" ng-model="data.filter.search.singer" placeholder="быстрый поиск">
	</div>
	<div class="col-md-6">
		<div class="pull-right">
			<button class="btn btn-primary" ng-click="refresh()" title="обновить список">
				<i class="fa fa-refresh" aria-hidden="true"></i> Обновить
			</button>
			<button class="btn btn-success" ng-click="show_add_singer()" title="отобразить диалог добавления">
				<i class="fa fa-plus" aria-hidden="true"></i> Добавить
			</button>
		</div>
	</div>
</div>




<br>		


<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th>id</th>
			<th><a href="javascript: void(0)" ng-click="sort('name')">Исполнитель</a></th>
			<th><a href="javascript: void(0)" ng-click="sort('created')">Создание</a></th>
			<th><a href="javascript: void(0)" ng-click="sort('updated')">Обновление</a></th>
			<th>Опции</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="singer in singers_filtered()">
			<td>[[ singer.id ]]</td>
			<td>
				<a href="#/singer/[[ singer.id ]]" title="перейти на страницу исполнителя">
					[[ singer.name ]]
				</a>
			</td>
			<td>[[ singer.created | date:'yyyy-MM-dd' ]]</td>
			<td>[[ singer.updated ]]</td>
			<td>
				<a href="javascript: void(0)" ng-click="show_edit_singer(singer)" title="изменить запись">
					<i class="fa fa-pencil"></i> изменить
				</a>
				|
				<a href="javascript: void(0)" ng-click="show_remove_singer(singer)" title="отобразить запрос удаления">
					<i class="fa fa-trash-o"></i> удалить
				</a>
			</td>
		</tr>
	</tbody>
</table>

	







<script type="text/ng-template" id="singer_modal_template">
	<h4>
		<span ng-if="data.singer_edit.id">Изменение записи исполнителя</span>
		<span ng-if="!data.singer_edit.id">Создание записи исполнителя</span>
	</h4>

	<form>
		<div class="form-group">
			<label for="singer_name">Название</label>
			<input type="text" class="form-control" id="singer_name" placeholder="Название" ng-model="data.singer_edit.name">
		</div>
	</form>

	<hr>
	<div class="row">
		<div class="col-md-6">
			<button class="btn btn-default btn-block" ng-click="closeThisDialog()"><i class="fa fa-ban" aria-hidden="true"></i> Отмена</button>
		</div>
		<div class="col-md-6">
			<button class="btn btn-primary btn-block" ng-click="save_singer()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Сохранить</button>
		</div>
	</div>

</script>






<script type="text/ng-template" id="remove_singer_modal_template">
	<h4>Подтверждение удаления исполнителя</h4>

	<div class="alert alert-danger" role="alert">
		<p>Вы собираетесь удалить исполнителя: <strong>[[ data.singer_edit.name ]]</strong></p>
	</div>

	<hr>
	<div class="row">
		<div class="col-md-6">
			<button class="btn btn-default btn-block" ng-click="closeThisDialog()"><i class="fa fa-ban" aria-hidden="true"></i> Отмена</button>
		</div>
		<div class="col-md-6">
			<button class="btn btn-danger btn-block" ng-click="remove_singer()"><i class="fa fa-trash-o" aria-hidden="true"></i> Удалить</button>
		</div>
	</div>

</script>