




<div class="row">
	<div class="col-md-2">
		
		<h4 class="page-header">Исполнители</h4>
		<ul class="list-unstyled">
			<li ng-repeat="singer in singers_data.singers">
				<a href="javascript: void(0)" ng-click="show_songs(singer)" title="отобразить список песенок для этого исполнителя">
					[[ singer.name ]]
				</a>
			</li>
		</ul>


	</div>
	<div class="col-md-10">

		<div ng-if="!is_selected">
			<h4 class="page-header">Выберите исполнителя из списка слева</h4>
		</div>


		<div ng-if="is_selected">
			<h4 class="page-header">Песенки исполнителя: <span>[[ singers_data.singer_current.name ]]</span></h4>

			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>Название</th>
						<th>Автор</th>
						<th>Альбом</th>
						<th>Описание</th>
						<th>Жанр</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="song in singer_songs">
						<td>
							<a href="#/song/[[ song.id ]]" title="">[[ song.name ]]</a>
						</td>
						<td>[[ song.author ]]</td>
						<td>[[ song.album ]]</td>
						<td>[[ song.description ]]</td>
						<td>[[ song.genre ]]</td>
					</tr>
				</tbody>
			</table>



			<div class="pull-left">
				<p>Всего: <span>[[ singer_songs.length ]]</span></p>
			</div>
			<div class="pull-right">
				<a class="btn btn-success" href="#/singer/[[ singers_data.singer_current.id ]]" title="перейти на страницу исполнителя">
					<i class="fa fa-arrow-right" aria-hidden="true"></i> Перейти на страницу исполнителя
				</a>
			</div>
		</div>

		
	</div>
</div>

