<div class="page-header">
  	<h1 ng-if="self.item.id == 0">Создание новой записи</h1>
  	<h1 ng-if="self.item.id != 0">Изменение записи: <span>[[ self.current.name ]]</span></h1>
</div>

<!-- <pre>
[[ self.item | json ]]
</pre> -->

<div class="row">
	<div class="col-md-5">
		<form class="form-horizontal">
	
			<div class="form-group">
				<label for="inputSinger" class="col-sm-3 control-label">Исполнитель</label>
				<div class="col-sm-9">
					<!-- <select ng-model="data.song.singer" ng-options="singer.id as singer.name for singer in data.singers track by singer.id"></select> -->
					<select class="form-control" ng-model="self.item.singer" ng-options="singer.id as singer.name  for singer in self.singers"></select>
					<!--
					<input type="text" class="form-control" id="inputSinger" placeholder="Исполнитель" ng-model="data.song.singer">
					-->
				</div>
			</div>


			<div class="form-group">
				<label for="inputName" class="col-sm-3 control-label">Название</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="inputName" placeholder="Название" ng-model="self.item.name">
				</div>
			</div>


			
			<div class="form-group">
				<label for="inputAuthor" class="col-sm-3 control-label">Автор</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="inputAuthor" placeholder="Автор" ng-model="self.item.author">
				</div>
			</div>



			<div class="form-group">
				<label for="inputAlbum" class="col-sm-3 control-label">Альбом</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="inputAlbum" placeholder="Альбом" ng-model="self.item.album">
				</div>
			</div>


			<div class="form-group">
				<label for="inputGenre" class="col-sm-3 control-label">Жанр</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="inputGenre" placeholder="Жанр" ng-model="self.item.genre">
				</div>
			</div>


			<div class="form-group">
				<label for="inputDescription" class="col-sm-3 control-label">Описание</label>
				<div class="col-sm-9">
					<textarea class="form-control" rows="3" id="inputDescription" placeholder="Описание" ng-model="self.item.description"></textarea>
				</div>
			</div>


			
			

			<hr>
		  <!-- 
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" ng-click="go_back()" title="перейти назад">
						<i class="fa fa-arrow-left" aria-hidden="true"></i> Назад
					</button>

					<button type="submit" class="btn btn-primary" ng-click="save()" title="сохранить запись">
						<i class="fa fa-floppy-o" aria-hidden="true"></i> Сохранить
					</button>
				</div>
			</div> -->
		</form>


		<button-back></button-back>
		<div class="pull-right">
			<button-save ng-click="self.save()"></button-save>
		</div>
	</div>
	<div class="col-md-7">
		<form class="form-horizontal">
	
			<div class="form-group">
				<textarea class="form-control mono" rows="25" id="inputText" placeholder="Текст" ng-model="self.item.text"></textarea>
			</div>

		</form>
	</div>
</div>







