<nav class="navbar navbar-default">
  	<div class="container-fluid">
    	
    	<div class="navbar-header">
      		<!-- <a class="navbar-brand" href="#">
        		<img alt="Brand" src="...">
      		</a> -->
      		<span class="navbar-brand">
      			<span>[[ self.singer.name ]]</span> - <span>[[ self.item.name ]]</span>
      		</span>


    	</div>


    	<!-- <ul class="nav navbar-nav">
    		<li>
    			<a href="#/singer/[[ self.item.singer ]]">
    				На страницу исполнителя
    			</a>
    		</li>
    	</ul> -->

    	<ul class="nav navbar-nav navbar-right">
    		<li>
	  			<a href="javascript: void(0)" ng-click="self.go_back()" title="перейти на предыдущую страницу">
					<i class="fa fa-arrow-left" aria-hidden="true"></i> Назад
				</a>
			</li>
	  		<li>
	  			<a href="#/song_edit/[[ self.item.id ]]" title="перейти к редактированию">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Изменить
				</a>
			</li>
			<li>
				<a href="#/song_edit/0" title="перейти к созданию">
					<i class="fa fa-plus" aria-hidden="true"></i> Добавить
				</a>
			</li>
  		</ul>




  	</div>
</nav>




<div class="row">
	<div class="col-md-5">
		
		<table class="table table-bordered table-condensed">
			<tbody>
				<tr>
					<td>Исполнитель</td>
					<td>
						<lsinger cdata="self.singer"></lsinger>
					</td>
				</tr>

				<tr>
					<td>Автор</td>
					<td>[[ self.item.author ]]</td>
				</tr>

				<tr>
					<td>Название</td>
					<td>[[ self.item.name ]]</td>
				</tr>

				<tr>
					<td>Альбом</td>
					<td>[[ self.item.album ]]</td>
				</tr>

				<tr>
					<td>Описание</td>
					<td>[[ self.item.description ]]</td>
				</tr>

				<tr>
					<td>Жанр</td>
					<td>[[ self.item.genre ]]</td>
				</tr>

				<tr>
					<td>Создание</td>
					<td>[[ self.item.created ]]</td>
				</tr>

				<tr>
					<td>Обновление</td>
					<td>[[ self.item.updated ]]</td>
				</tr>

			</tbody>
		</table>



		<button-back></button-back>

		<div class="pull-right">
			<button-remove ng-click="self.show_remove()"></button-remove>
			<lbutton-edit href="#/song_edit/[[ self.item.id ]]"></lbutton-edit>
		</div>




		<h4 class="page-header">Другие песни исполнителя</h4>

		

		<ul>
			<li ng-repeat="song in self.singer_songs">

				<lsong cdata="song"></lsong>
			</li>
		</ul>



	</div>
	<div class="col-md-7">
		
<pre>
[[ self.item.text ]]
</pre>

	</div>
</div>







<modal-remove ng-if="self.is_modal_remove" on-close="self.is_modal_remove = false" on-remove="self.remove()">
	Удалить песенку <strong>[[ self.item.name ]]</strong>?
</modal-remove>
