<!DOCTYPE html>
<html ng-app="app">
<head lang="ru">
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	<meta http-equiv="content-language" content="ru" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="nia" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<title>{% block title %}{% endblock %}</title>



	<!-- <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css', _external=True) }}" rel="stylesheet" media="screen">
	<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-theme.min.css', _external=True) }}" rel="stylesheet" media="screen"> -->

	<!-- bootstrap -->
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/vendor/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

	<!-- angular notify -->
	<link href="/static/vendor/angular-ui-notification/angular-ui-notification.min.css?version={{ VERSION }}" rel="stylesheet">
	<link href="/static/vendor/font-awesome/css/font-awesome.min.css?version={{ VERSION }}" rel="stylesheet">

	<!-- ngDialog -->
	<link href="/static/vendor/ng-dialog/css/ngDialog.min.css?version={{ VERSION }}" rel="stylesheet" media="screen">
	<link href="/static/vendor/ng-dialog/css/ngDialog-theme-default.min.css?version={{ VERSION }}" rel="stylesheet" media="screen">



	<!-- <link href="{{ url_for('static', filename='css/style.css', _external=True) }}" rel="stylesheet" media="screen"> -->
	<link href="/static/css/style.css" rel="stylesheet" media="screen">







	{% block ext_inc_head %}{% endblock %}


</head>
<body style="margin-top: 60px;" >


	<div class="navbar navbar-default navbar-fixed-top">
  	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">GSongs <small>v {{ VERSION }}</small></a>
		</div>

		<div class="navbar-collapse collapse">

			<ul class="nav navbar-nav">


					{# <li id="main_menu_users">
						<a href="{{ url_for('users.index') }}" title="Users">
							<strong><span class="glyphicon glyphicon-align-justify"></span> Users</strong>
						</a>
					</li>
					<li id="main_menu_storage">
						<a href="{{ url_for('storage.index') }}" title="Storage">
							<strong><span class="glyphicon glyphicon-headphones"></span> Storage</strong>
						</a>
					</li> #}

			</ul>







			<ul class="nav navbar-nav navbar-right">



				<li class="main_menu main_menu_create">
					<a href="#/song_edit/0" title="создание новой песенки">
						<strong><i class="fa fa-plus" aria-hidden="true"></i> Создание</strong>
					</a>
				</li>
				<li class="main_menu main_menu_singers">
					<a href="#/singers" title="список исполнителей">
						<strong><i class="fa fa-users" aria-hidden="true"></i> Исполнители</strong>
					</a>
				</li>
				<li class="main_menu main_menu_songs">
					<a href="#/songs" title="список песенок">
						<strong><i class="fa fa-align-center" aria-hidden="true"></i> Песенки</strong>
					</a>
				</li>


<!-- 
				<li id="main_menu_about"><a href="/singers" title="Страница информации">
					<strong><span class="glyphicon glyphicon-credit-card"></span> Singers</strong>
				</a></li>

				<li id="main_menu_about"><a href="/songs" title="Страница информации">
					<strong><span class="glyphicon glyphicon-credit-card"></span> Songs</strong>
				</a></li>
				<li id="main_menu_about"><a href="/about" title="Страница информации">
					<strong><span class="glyphicon glyphicon-credit-card"></span> О программе</strong>
				</a></li>
 -->

 				<li id="main_menu_service"><a href="/service" title="сервис">
					<strong><i class="fa fa-cogs" aria-hidden="true"></i> Сервис</strong>
				</a></li>

				<li id="main_menu_about"><a href="/logout" title="выход из системы">
					<strong><i class="fa fa-sign-out" aria-hidden="true"></i> Выход</strong>
				</a></li>



			</ul>





		</div><!--/.navbar-collapse -->

	</div>
</div>



	


	<div class="container" ng-cloak>

		
		{% block content %}{% endblock %}

		<ng-view></ng-view>



		
	</div>





	<!-- vendors -->
	<script src="/static/vendor/jquery/jquery.min.js?version={{ VERSION }}"></script>
	<script src="/static/vendor/angular/angular.min.js?version={{ VERSION }}"></script>
	<script src="/static/vendor/angular-route/angular-route.min.js?version={{ VERSION }}"></script>
	<script src="/static/vendor/angular-ui-notification/angular-ui-notification.min.js?version={{ VERSION }}"></script>
	<script src="/static/vendor/ng-dialog/js/ngDialog.min.js?version={{ VERSION }}"></script>
	<!-- vendors -->
	


	<!-- app -->
	<script src="/static/js/app.js?version={{ VERSION }}"></script>

	<!-- common -->
	<script src="/static/js/common/common.module.js?version={{ VERSION }}"></script>
	<script src="/static/js/common/notify.js?version={{ VERSION }}"></script>
	<script src="/static/js/common/chars.component.js?version={{ VERSION }}"></script>
	<script src="/static/js/common/components.js?version={{ VERSION }}"></script>
	<script src="/static/js/common/utils.js?version={{ VERSION }}"></script>


	<!-- main -->
	<script src="/static/js/main/main.module.js?version={{ VERSION }}"></script>
	<script src="/static/js/main/main.ctrl.js?version={{ VERSION }}"></script>


	<!-- singers -->
	<script src="/static/js/singers/singers.module.js?version={{ VERSION }}"></script>
	<script src="/static/js/singers/singers.svc.js?version={{ VERSION }}"></script>
	<script src="/static/js/singers/singers.ctrl.js?version={{ VERSION }}"></script>
	<script src="/static/js/singers/singer.ctrl.js?version={{ VERSION }}"></script>
	<!-- <script src="/static/js/singers/modal_edit.js?version={{ VERSION }}"></script> -->

	<!-- songs -->
	<script src="/static/js/songs/songs.module.js?version={{ VERSION }}"></script>
	<script src="/static/js/songs/songs.svc.js?version={{ VERSION }}"></script>
	<script src="/static/js/songs/songs.ctrl.js?version={{ VERSION }}"></script>
	<script src="/static/js/songs/song.ctrl.js?version={{ VERSION }}"></script>
	<script src="/static/js/songs/song_edit.ctrl.js?version={{ VERSION }}"></script>

	{% block ext_inc_body %}{% endblock %}


</body>
</html>