<!DOCTYPE html>
<html ng-app="app">
<head lang="ru">
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	<meta http-equiv="content-language" content="ru" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="nia" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<title>Chords</title>




	<!-- bootstrap -->
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/vendor/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">


	<link href="/static/css/style.css" rel="stylesheet" media="screen">






</head>
<body style="margin-top: 60px;" >


	<div class="container">

		<div id="app_chords_view">
			загрузка...
		</div>

		
	</div>




	<script src="/static/build/vendor.js?version={{ VERSION }}"></script>
	<script src="/static/build/chords_view.js?version={{ VERSION }}"></script>





</body>
</html>