<!DOCTYPE html>
<html ng-app="app">
<head lang="ru">
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	<meta http-equiv="content-language" content="ru" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="nia" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<title>GSongs - vue</title>



	
	<!-- bootstrap -->
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/vendor/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

    <!-- font-awesome -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	
    <!-- my style -->
	<link href="/static/css/style.css" rel="stylesheet" media="screen">



</head>


<body style="margin-top: 60px;" >


	



	


	<div class="container">

		
		<div id="app">

        </div>

		



		
	</div>





	<!-- vendors -->
	<script src="/static/vendor/jquery/jquery.min.js?version={{ VERSION }}"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js?version={{ VERSION }}"></script>
	<!-- vendors -->
	


	<!-- app -->
	<script src="/static/build/gsongs.js"></script>
	<!--<script src="/static/build/gsongs.js?version={{ VERSION }}"></script>-->

	


</body>
</html>