<!DOCTYPE html>
<html>
<head lang="ru">
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	<meta http-equiv="content-language" content="ru" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="nia" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<title>{% block title %}{% endblock %}</title>



	
	<!-- <link href="/static/vendor/bootstrap4/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
	<link href="/static/vendor/bootstrap5/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/vendor/font-awesome/css/font-awesome.min.css?version={{ VERSION }}" rel="stylesheet">


	<link href="/static/css/style.css" rel="stylesheet" media="screen">


</head>
<body>



	


	<div class="container">

	<div class="row">
		<div class="col-12">
			<h1>GSongs</h1>
		</div>
	</div>

	<div class="row justify-content-center align-items-center">
		<div class="col-md-4"></div>
		<div class="col-md-4 ">
			<!-- <div class="page-header">
				<h3 style="text-align: center;">Вход</h3>
			</div> -->

			<div class="card">

				<div class="card-body">

					<form id="login_form" class="" role="form" action="/login" method="POST" style="margin-bottom: 0px">
							
						<div class="form-group mb-3">
							<label for="inputUsername" class="control-label">Пользователь</label>
							<input type="text" class="form-control" id="inputUsername" name="username">
						</div>

						<div class="form-group mb-3">
							<label for="inputPassword" class="control-label">Пароль</label>
							<input type="password" class="form-control" id="inputPassword" name="password">
						</div>


						<div class="form-group clearfix">
							<button type="submit" class="btn btn-primary pull-right" title="войти в систему"><i class="fa fa-sign-in"></i> Вход</button>
						</div>

					</form>

				</div>
			</div>


			{% if is_error %}
				<div class="alert alert-danger" role="alert">Неправильные параметры входа</div>
			{% endif %}

			

			
			
			
						
		</div>
		<div class="col-md-4"></div>
	</div>
		



		
	</div>




</body>
</html>