{% extends "base.html" %}

{% block title %}Singers{% endblock %}




{% block content %}

	<h1>Singers</h1>
	


	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>created</th>
				<th>updated</th>
			</tr>
		</thead>
		<tbody>
			{% for singer in singers %}
				<tr>
					<td>{{ singer.id }}</td>
					<td><a href="/singer/{{ singer.id }}">{{ singer.name }}</a></td>
					<td>{{ singer.created }}</td>
					<td>{{ singer.updated }}</td>
				</tr>
			{% endfor %}		
		</tbody>
	</table>


	<ul>
	{% for singer in singers %}
		<li>{{ singer.name }}</li>
	{% endfor %}
	</ul>




{% endblock %}